{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h2>Sobre a BYG</h2>
BYG é um projeto resultante da paixão de 5 estudantes por viajar e explorar o mundo. Nosso objetivo desde o início é usar a tecnologia a nosso favor para proporcionar uma experiência única aos nossos usuários para que eles possam criar lembranças e histórias a se contar sem ter que se preocupar com a parte burocrática de viajar. Podendo desfrutar com maior intensidade da experiência que estão vivenciando. 

Nós acreditamos que diferentes pessoas têm diferentes maneiras de assimilar e interagir com o seu redor, por isso criamos uma ferramenta que vai facilitar e melhorar a vida de todos ao viajarem. Através da conexão de culturas e pessoas nós podemos tornar o mundo um lugar melhor.

<!-- Botão "Trabalhe Conosco" -->
<div>
    <a href="{% url 'empresa_signup' %}" class="btn btn-primary">
        Trabalhe Conosco
    </a>
</div>
{% endblock content %}
